@import "./globals.scss";

.header-container {
	background-color: var(--background-primary);
	color: var(--text-light);
	height: fit-content;
	opacity: 1;
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 0.75rem 0;

	nav {
		ul {
			margin: 0 auto;
			width: fit-content;

			display: flex;
			align-items: center;
			gap: 1rem;
			padding: 0 2rem;

			li {
				list-style: none;
				min-width: fit-content;
				height: fit-content;
				padding: 0 0.75rem;
				font-size: small;
				cursor: pointer;
				transition: all 0.2s ease-in-out;

				&:hover {
					color: var(--text-primary);
				}
			}
		}
	}
}

.main-container {
	.hero-section {
		background-color: var(--background-primary);
		text-align: center;
		height: calc(100vh - 2.6875rem);

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.text-wrapper {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);

			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 3.25rem;

			h1 {
				color: var(--title-primary-color);
				font-size: 3.5rem;
				font-weight: bold;
				line-height: 4rem;
				letter-spacing: -0.28px;
			}

			h2 {
				width: 30rem;
				align-self: center;
				margin: 0.5rem auto;

				color: var(--subtitle-color);
				font-size: 1.5rem;
				font-weight: normal;
				line-height: 2rem;
				letter-spacing: 1.2px;

				sub {
					font-size: 0.8rem;
				}
			}

			a {
				color: var(--action-color);
				line-height: 1.875rem;
				font-size: 1.25rem;
				text-decoration: none;
				transition: all 0.2s ease-in-out;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		img {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.hotest-section {
		> div {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);

			&:first-child {
				top: 130px;
				display: flex;
				justify-content: space-between;
				width: 100%;
				max-width: 60%;

				p {
					color: var(--title-secondary-color);
					font-size: 1.5rem;
					font-weight: bold;
					line-height: 2.5rem;
					letter-spacing: -0.0375rem;
				}
			}

			&:last-child {
				bottom: 3rem;
			}
		}

		.text-wrapper {
			p {
				font-size: 1.5rem;
				line-height: 1.8rem;
				letter-spacing: 0.11px;
				color: var(--title-primary-color);
			}

			span {
				font-size: 1.2rem;
				line-height: 1.5rem;
				display: block;
				letter-spacing: 0.23px;
				color: var(--text-light);
				display: block;
			}
		}
	}

	.offers-section {
		text-align: center;

		display: flex;
		flex-direction: column;

		justify-content: space-between;
		align-items: center;

		.text-wrapper {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);

			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 3.25rem;

			color: var(--text-dark);

			h2 {
				color: var(--text-dark);
				font-size: 3.5rem;
				font-weight: bold;
				line-height: 4rem;
				letter-spacing: -0.28px;
			}

			h3 {
				width: 30rem;
				align-self: center;
				margin: 0.5rem auto;

				font-size: 1.5rem;
				font-weight: normal;
				line-height: 2rem;
				letter-spacing: 1.2px;
			}

			.offer-links {
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 100%;
				max-width: 11rem;

				a {
					color: var(--action-color);
					line-height: 1.875rem;
					font-size: 1.25rem;
					text-decoration: none;
					transition: all 0.2s ease-in-out;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
